// Font
    $baseFontFamily: "Helvetica Neue", Helvetica, Arial, sans-serif;
$headingsFontFamily: $baseFontFamily;
$controlsFontFamily: $baseFontFamily;
   $inputFontFamily: $baseFontFamily;
  $buttonFontFamily: $baseFontFamily;
    $codeFontFamily: Consolas, Monaco, monospace, sans-serif;

// Base color
$backgroundBody: #fff;
     $colorBody: #333;
 $colorHeadings: #222;

// Grid
      $gridWidth: 1000;
$gridGutterWidth: 30;

// Type
  $baseFontSize: 14;
$baseLineHeight: 1.65;
      $baseLine: $baseFontSize * $baseLineHeight;
 $baseLineInEms: $baseLine / $baseFontSize * 1em;

// Heading
$h1FontSize: $baseFontSize + 22px; //36px
$h2FontSize: $baseFontSize + 16px; //30px
$h3FontSize: $baseFontSize + 10px; //24px
$h4FontSize: $baseFontSize + 4px;  //18px
$h5FontSize: $baseFontSize + 0px;  //14px
$h6FontSize: $baseFontSize - 2px;  //12px

$h1SubheadingFontSize: $baseFontSize + 16px; // 30px
$h2SubheadingFontSize: $baseFontSize + 10px; // 24px
$h3SubheadingFontSize: $baseFontSize + 4px; // 18px
$h4SubheadingFontSize: $baseFontSize + 0px; // 14px
$h5SubheadingFontSize: $baseFontSize - 2px; // 12px

// Font sizes
  $superSmallFontSize: $baseFontSize - 4px; // 10px
       $smallFontSize: $baseFontSize - 2px; // 12px
        $leadFontSize: $baseFontSize + 4px; // 18px
         $bigFontSize: $baseFontSize + 4px; // 18px
       $quoteFontSize: $baseFontSize + 2px; // 16px
$buttonsSmallFontSize: $baseFontSize - 3px; // 11px
//       $bigFontSize: 1.2em;
//     $smallFontSize: 0.85em;
// $superSmallFontSize: 0.7em;

// Colors
$colorBlack: #000;
$colorBlue: #3d58a8;
$colorRed: #d70a16;
$colorGreen: #159776;
$colorYellow: #fddc43;

// LinkColor
$colorLink: #369;
$colorLinkHover: #ef6465;

// Forms
$fieldsBottom: 1.6em;

// Util
$em: $baseFontSize * 1em;  // outputting ems, e.g. 14/@em


// // Misc sizes
//      $listsLeft: 2em;
//  $columnarWidth: 150px;
// $columnarMargin: 20px;

// // FloatingImages
// $floatingMargin: 1em;
// $floatingBackgroundColor: #fff;
// $floatingPadding: 0;
// $floatingBorder: none;

// // Borders
// $cellBorder: 1px solid #eee;
// $cellBorderDark: 1px solid #ddd;
// $fieldsetBorder: 1px solid #e3e3e3;

// // BackgroundColor
// $markBackgroundColor: #fe5;
// $codeBackgroundColor: #f5f5f5;
// $tfootBackgroundColor: #f2f2f2;
// $colorStripedTable: #f5f5f5;
// $colorHoveredTable: #f6f6f6;
