@import "kube";

// base typography for japanese
body{font-family: Arial, "Hiragino Kaku Gothic ProN", "游ゴシック", YuGothic, Meiryo, sans-serif;}
code{
  border-radius: 3px;
}
em{
  background: $colorYellow;
  font-style: normal;
}

// colors
   $colorGraydark: #404040;
  $colorGraysmoke: #737373;
  $colorGraywhite: #e0e0e0;
$colorSmokeywhite: #f0f0f0;
      $colorWhite: #ffffff;

// layout
.container{
     margin: 0 auto;
  min-width: 320px;
  max-width: 980px;
}

// header
.body_header{
    overflow: hidden;
  margin-bottom: 1em;
  background: $colorBlack;
       color: $colorGraywhite;
  a{
              color: $colorGraywhite;
    text-decoration: none;
  }
  .site_title{
        display: inline-block;
    margin-left: .5em;
    padding-top: .5em;
    font-weight: bold;
      font-size: 2em;
  }
  .navigations{
    @include inline-block;
    float: right;
    ul{
      margin-bottom: 0;
    }
    li{
      @include inline-block;
      margin-left: -4px;
       list-style: none;
      a{
        display: block;
        padding: 1em 1.5em;
      }
      a:hover,
      a.active{
        background: $colorGraydark;
      }
    }

  }
}

// top_page
.top_page{
  margin: 2em 0 3em;
}

// page_contents_list
.page_contents_list{

  .page_title{
    margin-bottom: .6em;
    border-bottom: 1px $colorSmokeywhite solid;
  }
  .nav_content_anchr{
    @include box-sizing(border-box);
    display: block;
    padding: .6em 1em;
    height:100%;
    background: $colorGraywhite;
    color: $colorBlack;
    text-decoration: none;
    transition: all linear .3s;
    .docs_title{
      display: block;
      padding-bottom: .3em;
      border-bottom: 1px $colorGraysmoke solid;
      font-weight: bold;
      font-size: 1.2857em;
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
    }
    .written_date{
      display: block;
      padding-top: .3em;
      color: $colorGraysmoke;
      text-align: right;
    }
  }
  .nav_content_anchr:hover{
    background: $colorSmokeywhite;
  }

}

// docs_container
.docs_container{
  .docs_header{
    margin-top: 2em;
    margin-bottom: 3em;
  }
  .docs_title{
    border-bottom: 1px $colorSmokeywhite solid;
  }
  .datetitme{
    margin: 0;
    text-align: right;
    dt,dd{
      display: inline;
    }
  }
  .docs_body pre{
    padding: 1.6em;
    border: 1px $colorGraywhite solid;
    border-radius: 6px;
  }
}

// footer
.body_footer{
  p{
    margin-bottom: 0;
          padding: 1em;
       border-top: 1px solid $colorGraywhite;
       text-align: center;
  }
}