// customize bootstrap variables here:
@import "variables";
@import "bootstrap";

// body_header


// body_footer
.body_footer{
  padding: 1em;
  border-top: 1px $gray-lighter solid;
  text-align: center;
}
// markdown_document
.markdown_document h1{
  padding-bottom: 4px;
  border-bottom: 1px #ddd solid;
}